spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: eventstore
      username: myuser
      password: mypassword
      authentication-database: eventstore
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  application:
    name: customer-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/myrealm
server:
  port: 8081
logging:
  level:
    org.springframework.data.mongodb: INFO
    org.mongodb.driver: INFO