name: CI/CD for gateway applicaiton

on:
  push:
    branches:
      - release-1
    paths:
      - 'gateway-service/**'
  pull_request:
    branches:
      - main
    paths:
      - 'gateway-service/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean package -B --file gateway/pom.xml
  dockerize:
    runs-on: ubuntu-latest
    needs: 
      - build
    permissions:
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build docker image
        run: docker build -t  ghcr.io/kopyn/cqrs-project/gateway-service:latest ./gateway-service
      - name: Push docker image to the registry
        run: docker push  ghcr.io/kopyn/cqrs-project/gateway-service:latest
